<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/Linearicons/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/select2/css/select2.min.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/jquery.bxslider/jquery.bxslider.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/owl.carousel/owl.carousel.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/lib/fancyBox/jquery.fancybox.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/css/animate.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/css/index8.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/css/quick-view.css" />
        <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/fantasysports.mx/assets/css/responsive8.css" />
        <title>Cavada/Watches</title>
    </head>
    <body class="home watches-home head-vertical">
        <span class="toggle-header fa fa-exchange"></span>
        <div class="container-fluid">
            <div id="left-vertical" class="left-content">
                <!-- HEADER -->
                <div id="header" class="header">
                    <div class="header-top" style=""><!--  style="display: none" -->
                        <div class="language ">
                            <div class="dropdown">
                                <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Eng
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Italy</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Japanese</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="currency ">
                            <div class="dropdown">
                                <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">USd</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">US Dolar</a></li>
                                    <li><a href="#">Euro</a></li>
                                    <li><a href="#">GB pound</a></li>
                                    <li><a href="#">JP yen</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="login-register">
                            <div class="user">
                                <ul class="top-link">
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/.top-header -->
                    <!-- MAIN HEADER -->
                    <div class="main-header" style="">
                        <div class="logo">
                            <a href="index.html"><img alt="Cavada market" src="https://s3.amazonaws.com/fantasysports.mx/assets/images/logo8.png" /></a>
                        </div>
                        <div class="top-search">
                            <!-- <span class="search-icon fa fa-search"></span> -->
                            <form class="form-drop">
                                <div class="input-serach">
                                    <input type="text"  placeholder="Search">
                                </div>
                                <button type="submit" class="btn-search fa fa-search">
                                    <span class="label-btn"></span>
                                </button>
                            </form>
                        </div>
                        <div class="cart-block">
                            <div class="cart">
                                <span class="cart-icon fa fa-shopping-cart"></span>
                                <span class="label-cart">Cart Shopping</span>
                                <span class="item-totall">(2)</span>
                            </div>
                            <div class="cart-block-content">
                                <div class="cart-block-list">
                                    <ul class="product-list">
                                        <li class="product-info">
                                            <div class="p-left">
                                                <a href="#">
                                                    <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/1.jpg" alt="p10">
                                                </a>
                                            </div>
                                            <div class="p-right">
                                                <p class="p-name">Nulla finibus vitadiam</p>
                                                <div class="product-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <p class="price">$61,19</p>
                                                <p class="qty">x 1</p>
                                                <a href="#" class="remove_link">remove</a>
                                            </div>
                                        </li>
                                        <li class="product-info">
                                            <div class="p-left">
                                                <a href="#">
                                                    <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/3.jpg" alt="p10">
                                                </a>
                                            </div>
                                            <div class="p-right">
                                                <p class="p-name">Nulla finibus vitadiam</p>
                                                <div class="product-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <p class="price">$61,19</p>
                                                <p class="qty">x 1</p>
                                                <a href="#" class="remove_link">remove</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="shipping">
                                    <span class="title">Shipping:</span>
                                    <span class="ship-price pull-right">$0.00</span>
                                </div>
                                <div class="total-cart">
                                    <span class="title">SubTotal:</span>
                                    <span class="total-price pull-right">$122.38</span>
                                </div>
                                <div class="cart-button">
                                    <a href="order.html" class="btn-checkout">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MANIN HEADER -->
                    <div id="nav-top-menu">
                        <div class="" id="box-vertical-megamenus">
                            <div class="box-vertical-megamenus">
                                <div class="left-menu-content">
                                    <ul class="vertical-menu-list">
                                        <li class="dropdown custom-dropdown home">
                                            <a class="parent" data-toggle="dropdown" href="#">Home</a>
                                            <ul class="dropdown-menu default">
                                                <li class="link_container"><a href="index.html">Fashion store</a></li>
                                                <li class="link_container"><a href="index2.html">Clothes store</a></li>
                                                <li class="link_container"><a href="index3.html">Shoes store</a></li>
                                                <li class="link_container"><a href="index4.html">Furniture store</a></li>
                                                <li class="link_container"><a href="index5.html">Lingeries store</a></li>
                                                <li class="link_container"><a href="index6.html">Food store</a></li>
                                                <li class="link_container"><a href="index7.html">Kid store</a></li>
                                                <li class="link_container"><a href="index8.html">Watches store</a></li>
                                                <li class="link_container"><a href="index9.html">Market store</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="parent" href="shop-left-sidebar.html">Women's</a>
                                            <div class="custom-dropdown-menu women clearfix">
                                                <div class="box-hovered clearfix">
                                                    <div class="mega-custom-html">
                                                        <div class="content">
                                                            <div class="col-md-4 col-lg-4 col-sm-4">
                                                                <a href="#"><img src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/menu-img/banner-menu1.jpg" alt="Banner"></a>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4 col-sm-4">
                                                                <a href="#"><img src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/menu-img/banner-menu2.jpg" alt="Banner"></a>
                                                            </div>
                                                            <div class="col-md-4 col-lg-4 col-sm-4">
                                                                <a href="#"><img src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/menu-img/banner-menu3.jpg" alt="Banner"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="vertical-groups">
                                                        <div class="mega-group w-width col-sm-3">
                                                            <h4 class="mega-group-header"><span>Tennis</span></h4>
                                                            <ul class="group-link-default">
                                                                <li><a href="#">Tennis</a></li>
                                                                <li><a href="#">Coats &amp; Jackets</a></li>
                                                                <li><a href="#">Blouses &amp; Shirts</a></li>
                                                                <li><a href="#">Tops &amp; Tees</a></li>
                                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                                                <li><a href="#">Intimates</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega-group col-sm-3">
                                                            <h4 class="mega-group-header"><span>Tennis</span></h4>
                                                            <ul class="group-link-default">
                                                                <li><a href="#">Tennis</a></li>
                                                                <li><a href="#">Coats &amp; Jackets</a></li>
                                                                <li><a href="#">Blouses &amp; Shirts</a></li>
                                                                <li><a href="#">Tops &amp; Tees</a></li>
                                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                                                <li><a href="#">Intimates</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega-group w-width col-sm-3">
                                                            <h4 class="mega-group-header"><span>Swimming</span></h4>
                                                            <ul class="group-link-default">
                                                                <li><a href="#">Dresses</a></li>
                                                                <li><a href="#">Coats &amp; Jackets</a></li>
                                                                <li><a href="#">Blouses &amp; Shirts</a></li>
                                                                <li><a href="#">Tops &amp; Tees</a></li>
                                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                                                <li><a href="#">Intimates</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega-group col-sm-3">
                                                            <h4 class="mega-group-header"><span>Shoes</span></h4>
                                                            <ul class="group-link-default">
                                                                <li><a href="#">Dresses</a></li>
                                                                <li><a href="#">Coats &amp; Jackets</a></li>
                                                                <li><a href="#">Blouses &amp; Shirts</a></li>
                                                                <li><a href="#">Tops &amp; Tees</a></li>
                                                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                                                <li><a href="#">Intimates</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown custom-dropdown">
                                            <a class="parent dropdown-toggle" href="shop-left-sidebar.html" data-toggle="dropdown">Categories</a>
                                            <ul class="dropdown-menu">
                                                <li class="block-container dropdown">
                                                    <a class="parent" href="#">Shoes & boots</a>
                                                    <ul class="block dropdown-menu">
                                                        <li class="link_container">
                                                            <a href="#">Sneakers</a>
                                                        </li>
                                                        <li class="link_container">
                                                            <a href="#">Casual</a>
                                                        </li>
                                                        <li class="link_container">
                                                            <a href="#">Boots</a>
                                                        </li>
                                                        <li class="link_container">
                                                            <a href="#">Shoe cake</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="block-container dropdown">
                                                    <a class="parent" href="#">Bags & hats</a>
                                                    <ul class="block dropdown-menu">
                                                        <li class="link_container">
                                                            <a href="#">Sneakers</a>
                                                        </li>
                                                        <li class="link_container">
                                                            <a href="#">Casual</a>
                                                        </li>
                                                        <li class="link_container">
                                                            <a href="#">Boots</a>
                                                        </li>
                                                        <li class="link_container">
                                                            <a href="#">Shoe cake</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="block-container">
                                                    <a href="#">Underwear & Socks</a>
                                                </li>
                                                <li class="block-container dropdown">
                                                    <a class="parent" href="#">Scarves & Gloves</a>
                                                    <ul class="block dropdown-menu">
                                                        <li class="link_container">
                                                            <a href="#">Sneakers</a>
                                                        </li>
                                                        <li class="link_container">
                                                            <a href="#">Casual</a>
                                                        </li>
                                                        <li class="link_container">
                                                            <a href="#">Boots</a>
                                                        </li>
                                                        <li class="link_container">
                                                            <a href="#">Shoe cake</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="block-container">
                                                    <a href="#">Sunglass</a>
                                                </li>
                                                <li class="block-container">
                                                    <a href="#">Belts</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="page-watches"><a class="parent" href="#">Pages</a>
                                            <div class="custom-dropdown-menu isFix clearfix">
                                                <div class="box-hovered clearfix">
                                                    <div class="vertical-groups">
                                                        <div class="mega-group col-sm-3">
                                                            <ul class="group-link-default">
                                                                <li>
                                                                    <a href="shop-left-sidebar.html">Grid Left Sidebar</a>
                                                                </li>
                                                                <li>
                                                                    <a href="shop-right-sidebar.html">Shop Right Sidebar</a>
                                                                </li>
                                                                <li>
                                                                    <a href="shop-fullwidth-top-sidebar.html">Shop Fullwidth Top Sidebar</a>
                                                                </li>

                                                                <li>
                                                                    <a href="shop-single-product.html">Shop Single Products</a>
                                                                </li>
                                                                <li>
                                                                    <a href="shop-single-product-full.html">Shop Single Products Fullwidth</a>
                                                                </li>
                                                                <li>
                                                                    <a href="best-selling-product.html">Best Selling Products</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega-group col-sm-3">
                                                            <ul class="group-link-default">
                                                                <li>
                                                                    <a href="onsale-prodcut.html">On Sale Products</a>
                                                                </li>
                                                                <li>
                                                                    <a href="product-deal.html">Products deals</a>
                                                                </li>
                                                                <li>
                                                                    <a href="product-category.html">Products categories</a>
                                                                </li>
                                                                <li>
                                                                    <a href="blog-full.html">Blog Full Width</a>
                                                                </li>
                                                                <li>
                                                                    <a href="blog-left-sidebar.html">Blog left sidebar</a>
                                                                </li>
                                                                <li>
                                                                    <a href="blog-right-sidebar.html">Blog right sidebar</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega-group col-sm-3">
                                                            <ul class="group-link-default">
                                                                <li>
                                                                    <a href="contact-us.html">Contact us page</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">About us page</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Wishlist page</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Compare page</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Account page</a>
                                                                </li>
                                                                <li>
                                                                    <a href="order.html">Checkout</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega-group col-sm-3">
                                                            <ul class="group-link-default">
                                                                <li>
                                                                    <a href="order.html">Shopping cart</a>
                                                                </li>
                                                                <li>
                                                                    <a href="404-page.html">404 page</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">FAQ's page</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Offline page</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Map location</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end header -->
            </div>
            <!-- Home slideder-->
            <div class="right-content">
                <div id="home-slider">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="homeslider">
                                <div class="content-slide">
                                    <ul id="contenhomeslider">
                                        <li><a href="#"><img alt="Cavada img" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/slide/slide1.jpg" title="Cavada img" /></a></li>
                                        <li><a href="#"><img alt="Cavada img" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/slide/slide2.jpg" title="Cavada img" /></a></li>
                                        <li><a href="#"><img  alt="Cavada img" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/slide/slide3.jpg" title="Cavada img" /></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Home slideder-->

                <div class="block block-banner-home clearfix">
                    <div class="content">
                        <div class="banner-left-gutter banner-arrow">
                            <div class="banner-top banner1 border-arrow-left">
                                <div class="banner-inner">
                                    <a href="#" class="overlay">&nbsp;</a>
                                    <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/banner/banner1.jpg" alt="" />
                                    <div class="text-banner banner-position">
                                        <div class="banner-texthome">
                                            <h2>New Trending</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-center-gutter banner-arrow">
                            <div class="banner-top banner1-2 border-arrow-center">
                                <div class="banner-inner">
                                    <a href="#" class="overlay">&nbsp;</a>
                                    <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/banner/banner2.jpg" alt="" />
                                    <div class="text-banner banner-position">
                                        <div class="banner-texthome">
                                            <h2>Cavada Sale</h2>
                                            <span class="sale">off 40%!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-right-gutter banner-arrow">
                            <div class="banner-top banner1-3 border-arrow-right">
                                <div class="banner-inner">
                                    <a href="#" class="overlay">&nbsp;</a>
                                    <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/banner/banner3.jpg" alt="" />
                                    <div class="text-banner banner-position">
                                        <div class="banner-texthome">
                                            <h2>Accessories</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="margin-page">
                    <div class="product-single main-product">
                        <div class="navbar nav-menu">
                            <div class="navbar-label"><h3 class="title"><span>Trend Weekly</span></h3></div>
                        </div>
                        <div class="tab-container">
                            <div id="tab-1" class="tab-panel active">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="false" data-nav = "false" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3},"991":{"items":4},"1200":{"items":5}}'>
                                    <li>
                                        <div class="left-block">
                                            <a href="shop-single-product.html">
                                                <img class="img-responsive" alt="product" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/1.jpg" />
                                            </a>
                                            <div class="action">
                                                <a title="Add to my wishlist" class="heart fa fa-heart" href="#"></a>
                                                <a title="Add to compare" class="compare fa fa-retweet" href="#"></a>
                                                <a title="Quick view" class="search quickview fa fa-arrows" href="#"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" class="" href="#">Add to Cart</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <div class="left-p-info">
                                                <h5 class="product-name"><a href="shop-single-product.html">Finibus sodales neque</a></h5>
                                                <div class="product-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="shop-single-product.html">
                                                <img class="img-responsive" alt="product" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/2.jpg" />
                                            </a>
                                            <div class="action">
                                                <a title="Add to my wishlist" class="heart fa fa-heart" href="#"></a>
                                                <a title="Add to compare" class="compare fa fa-retweet" href="#"></a>
                                                <a title="Quick view" class="search quickview fa fa-arrows" href="#"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" class="" href="#">Add to Cart</a>
                                            </div>
                                            <div class="group-price">
                                                <span class="product-sale">sale</span>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <div class="left-p-info">
                                                <h5 class="product-name"><a href="shop-single-product.html">Finibus sodales neque</a></h5>
                                                <div class="product-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <div class="content_price">
                                                <span class="price old-price">$52,00</span>
                                                <span class="price product-price">$38,95</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="shop-single-product.html">
                                                <img class="img-responsive" alt="product" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/3.jpg" />
                                            </a>
                                            <div class="action">
                                                <a title="Add to my wishlist" class="heart fa fa-heart" href="#"></a>
                                                <a title="Add to compare" class="compare fa fa-retweet" href="#"></a>
                                                <a title="Quick view" class="search quickview fa fa-arrows" href="#"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" class="" href="#">Add to Cart</a>
                                            </div>
                                            <div class="group-price">
                                                <span class="product-new">new</span>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <div class="left-p-info">
                                                <h5 class="product-name"><a href="shop-single-product.html">Finibus sodales neque</a></h5>
                                                <div class="product-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="shop-single-product.html">
                                                <img class="img-responsive" alt="product" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/4.jpg" />
                                            </a>
                                            <div class="action">
                                                <a title="Add to my wishlist" class="heart fa fa-heart" href="#"></a>
                                                <a title="Add to compare" class="compare fa fa-retweet" href="#"></a>
                                                <a title="Quick view" class="search quickview fa fa-arrows" href="#"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" class="" href="#">Add to Cart</a>
                                            </div>
                                            <!-- <div class="group-price">
                                                <span class="product-new">NEW</span>
                                            </div> -->
                                        </div>
                                        <div class="right-block">
                                            <div class="left-p-info">
                                                <h5 class="product-name"><a href="shop-single-product.html">Finibus sodales neque</a></h5>
                                                <div class="product-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <div class="content_price">
                                                <span class="price product-price">$38,95</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="shop-single-product.html">
                                                <img class="img-responsive" alt="product" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/5.jpg" />
                                            </a>
                                            <div class="action">
                                                <a title="Add to my wishlist" class="heart fa fa-heart" href="#"></a>
                                                <a title="Add to compare" class="compare fa fa-retweet" href="#"></a>
                                                <a title="Quick view" class="search quickview fa fa-arrows" href="#"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" class="" href="#">Add to Cart</a>
                                            </div>
                                            <div class="group-price">
                                                <span class="product-sale">sale</span>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <div class="left-p-info">
                                                <h5 class="product-name"><a href="shop-single-product.html">Finibus sodales neque</a></h5>
                                                <div class="product-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <div class="content_price">
                                                <span class="price old-price">$60,00</span>
                                                <span class="price product-price">$36</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left-block">
                                            <a href="shop-single-product.html">
                                                <img class="img-responsive" alt="product" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/1.jpg" />
                                            </a>
                                            <div class="action">
                                                <a title="Add to my wishlist" class="heart fa fa-heart" href="#"></a>
                                                <a title="Add to compare" class="compare fa fa-retweet" href="#"></a>
                                                <a title="Quick view" class="search quickview fa fa-arrows" href="#"></a>
                                            </div>
                                            <div class="add-to-cart">
                                                <a title="Add to Cart" class="" href="#">Add to Cart</a>
                                            </div>
                                            <div class="group-price">
                                                <span class="product-sale">Sale</span>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <div class="left-p-info">
                                                <h5 class="product-name"><a href="shop-single-product.html">Finibus sodales neque</a></h5>
                                                <div class="product-star">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <div class="content_price">
                                                <span class="price old-price">$52,00</span>
                                                <span class="price product-price">$38,95</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="category-browse">
                        <div class="navbar nav-menu">
                            <div class="navbar-label"><h3 class="title"><span>Browse our categories</span></h3></div>
                        </div>
                        <div class="cat-content row">
                            <div class="cat-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a href="#"><img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/cat-img1.jpg" alt=""></a>
                                <div class="cat-sub">
                                    <h3 class="title">Women leather</h3>
                                    <span class="info">20 product</span>
                                </div>
                            </div>
                            <div class="cat-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a href="#"><img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/cat-img2.jpg" alt=""></a>
                                <div class="cat-sub">
                                    <h3 class="title">Men steel</h3>
                                    <span class="info">19 product</span>
                                </div>
                            </div>
                            <div class="cat-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a href="#"><img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/cat-img3.jpg" alt=""></a>
                                <div class="cat-sub">
                                    <h3 class="title">Women gold</h3>
                                    <span class="info">16 product</span>
                                </div>
                            </div>
                            <div class="cat-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a href="#"><img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/product/cat-img4.jpg" alt=""></a>
                                <div class="cat-sub">
                                    <h3 class="title">men luxury</h3>
                                    <span class="info">10 product</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newsletter">
                        <h3 class="title">Join our newsletter</h3>
                        <div class="content">
                            <p class="sub-info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem malesuada fames ac ante ipsum primis in faucibus.</p>
                            <div class="subcribe-box">
                                <div class="input" id="mail-box">
                                    <input type="text" placeholder="Email address"/>
                                    <button class="btn-newletter" type="button"><span class="btn-label">Subcribe</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Blog -->
                    <div class="blog">
                        <div class="navbar nav-menu">
                            <div class="navbar-label">
                                <h3 class="title">
                                    <span>Latest blog</span>
                                </h3>
                            </div>
                        </div>
                        <div class="content-blog">
                            <ul class="owl-carousel" data-dots="false" data-loop="true" data-nav = "false" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"768":{"items":2},"1000":{"items":3}}'>
                                <li class="item equalheight">
                                    <div class="postcontent">
                                        <div class="blog-image image-container">
                                            <a href="blog-detail.html">
                                                <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/images/blog/blog-watches1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-info clearfix">
                                            <h3 class="name">
                                                <a href="blog-detail.html">Aliquam Posuere Massa</a>
                                            </h3>
                                            <span class="comment fa fa-comments">(3)</span>

                                        </div>
                                        <div class="detail">
                                            <span class="post-date">Posted 1 Jan, 2016</span>
                                        </div>
                                        <div class="blog_short_text clearfix">
                                            <div class="shortcontent-text">
                                                <p class="short-text">Pellentesque imperdiet massa auctor lobortis consectetur tortor ullamcorper proin mollis</p>
                                            </div>
                                            <!-- <a class="button btn-cart" href="">Read more</a> -->
                                        </div>
                                    </div>
                                </li>
                                <li class="item equalheight">
                                    <div class="postcontent">
                                        <div class="blog-image image-container">
                                            <a href="blog-detail.html">
                                                <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/images/blog/blog-watches2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-info clearfix">
                                            <h3 class="name">
                                                <a href="blog-detail.html">Massa Consectetur Tellus</a>
                                            </h3>
                                            <span class="comment fa fa-comments">(7)</span>

                                        </div>
                                        <div class="detail">
                                            <span class="post-date">Posted 6 Jan, 2016</span>
                                        </div>
                                        <div class="blog_short_text clearfix">
                                            <div class="shortcontent-text">
                                                <p class="short-text">Vivamus pulvinar rhoncus metus vitae vulputate, aliquam bibendu sceleris que pellentesque. Donec dapibus ipsum at dolor congue luctus</p>
                                            </div>
                                            <!-- <a class="button btn-cart" href="">Read more</a> -->
                                        </div>
                                    </div>
                                </li>
                                <li class="item equalheight">
                                    <div class="postcontent">
                                        <div class="blog-image image-container">
                                            <a href="blog-detail.html">
                                                <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/images/blog/blog-watches3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-info clearfix">
                                            <h3 class="name">
                                                <a href="blog-detail.html">Fusce Dignissim Ristique</a>
                                            </h3>
                                            <span class="comment fa fa-comments">(10)</span>
                                        </div>
                                        <div class="detail">
                                            <span class="post-date">Posted 9 Jan, 2016</span>
                                        </div>
                                        <div class="blog_short_text clearfix">
                                            <div class="shortcontent-text">
                                                <p class="short-text">Pellentesque imperdiet massa auctor lobortis consectetur tortor ullamcorper proin mollis</p>
                                            </div>
                                            <!-- <a class="button btn-cart" href="">Read more</a> -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end part -->
                </div>
                <!-- Footer -->
                <footer class="footer">
                    <div class="main-footer">
                        <div class="my-store">
                            <h3 class="name">Cavada store</h3>
                            <p class="address">No. 1504, South Thamtons highway, California City, United Stated.</p>
                        </div>
                        <div class="open-time">
                            <h3 class="title">Opening hour</h3>
                            <p>Monday to Friday : 8:00am - 9:00pm</p>
                            <p>Saturday and Sunday : 8:00am - 13:00pm</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="social-link">
                            <ul class="social-list">
                                <li><a href="#" title="facebook"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" title="twitter"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" title="google-plus"><span class="fa fa-google-plus"></span></a></li>
                                <li><a href="#" title="instagram"><span class="fa fa-instagram"></span></a></li>
                                <li><a href="#" title="rss"><span class="fa fa-rss"></span></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>&copy;2015 Design by <a href="#">Alotheme.com</a>. Power by <span>Magento</span></p>
                        </div>
                    </div>
                </footer>
            </div>
            <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
        </div>
        <!-- Script-->
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/jquery/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/select2/js/select2.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/owl.carousel/owl.carousel.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/jquery.countdown/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/fancyBox/jquery.fancybox.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/lib/jquery.elevatezoom.js"></script>
        <script type="text/javascript" src="https://s3.amazonaws.com/fantasysports.mx/assets/js/theme-script.js"></script>
    </body>
</html>