<h3>¡Felicidades!</h3>
<br />
¡Hola!<br />
<br />
{{ name }} te ha invitado a suscribirte a la quiniela del Villano Chelero.<br />
<br />
Entra a la <a href="http://fantasysports.mx/book">página</a> y regístrate con el código "{{ code }}".<br />
<br />
¡Que lo disfrutes!<br />
<br />
ATTE<br />
El Staff