<h3>¡Quiniela!</h3>
<br />
¡Hola!<br />
<br />
Acabas de comprar un boleto para la semana de: ini a fin<br />
<br />
Tú selección fue:<br />
<table>
    <tr>
        <td>Local</td>
        <td>Visitante</td>
    </tr>
</table>
ATTE<br />
El Staff