{% extends '::Admin/base.html.twig' %}

{% set pageTitle = 'Dashboard' %}
{% set pageDescription = 'Resumen de mis actividades' %}
{% set userPoints = '1000' %}

{% set scriptsToLoad = ['dashboard.js'] %}

{% block breadcrumbs %}
    <li>
        <i class="icon-home"></i>El Villano Chelero
        <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ path('fantasy_sports_admin_dashboard') }}">Dashboard</a>
    </li>
{% endblock %}

{% block body %}
    <ul class="stats-container">
        <li>
            <a href="#" class="stat summary">
                <span class="icon icon-circle bg-grey">
                    <i class="icon-stats"></i>
                </span>
                <span class="digit">
                    <span class="text">Pases adquiridos</span>
                    100
                </span>
            </a>
        </li>
        <li>
            <a href="#" class="stat summary">
                <span class="icon icon-circle bg-green">
                    <i class="icon-stats"></i>
                </span>
                <span class="digit">
                    <span class="text">Pases ganados</span>
                    80
                </span>
            </a>
        </li>
        <li>
            <a href="#" class="stat summary">
                <span class="icon icon-circle bg-orange">
                    <i class="icon-user"></i>
                </span>
                <span class="digit">
                    <span class="text">Pases pendientes</span>
                    15
                </span>
            </a>
        </li>
        <li>
            <a href="#" class="stat summary">
                <span class="icon icon-circle bg-red">
                    <i class="icon-stats"></i>
                </span>
                <span class="digit">
                    <span class="text">Pases perdidos</span>
                    5
                </span>
            </a>
        </li>
    </ul>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    <span class="title">
                        <i class="icon-calendar"></i> Próximos eventos
                    </span>
                </div>
                <div class="widget-content no-padding no-border">
                    <br />
                    <div id="demo-calendar-01"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var eventData = [
            {
                title: 'Bayern - Barça',
                start: new Date(Date.UTC(y, m, d, 18, 45)),
                end: new Date(Date.UTC(y, m, d, 18, 0)),
                allDay: false,
                url: '{{ path('fantasy_sports_admin_pass_add', {'match_id':1}) }}'
            },
            {
                title: 'Benfica - Atlético',
                start: new Date(Date.UTC(y, m, d, 18, 45)),
                end: new Date(Date.UTC(y, m, d, 18, 0)),
                allDay: false,
                url: '{{ path('fantasy_sports_admin_pass_add', {'match_id':2}) }}'
            }
        ];
    </script>
{% endblock %}