{% extends '::Admin/base.html.twig' %}

{% set pageTitle = 'Passes' %}
{% set pageDescription = 'Todos los passes' %}

{% block breadcrumbs %}
    <li>
        <i class="icon-home"></i>El Villano Chelero
        <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ path('fantasy_sports_admin_pass_list') }}">Pass</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row-fluid">

        <div class="span12 widget">
            <div class="widget-header">
                <span class="title">Passes</span>
            </div>
            <div class="widget-content table-container">
                <table id="pass-tables" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Coupon</th>
                        <th>Usuario</th>
                        <th>Usado</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if coupons is defined %}
                        {% for coupon in coupons %}
                            <tr>
                                <td>{{ coupon.id }}</td>
                                <td>{{ coupon.coupon }}</td>
                                <td>
                                    {% if coupon.user is defined %}
                                        {{ coupon.user.username }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if coupon.used == 0 %}
                                        <span class="label">Pendiente</span>
                                    {% else %}
                                        <span class="label label-success">Usado</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            if($.fn.dataTable) {
                $('table#pass-tables').dataTable();
            }
        });
    </script>
{% endblock %}