.watches-home .left-content {
    background-color: #F99539;
}

.newsletter {
    background-image: url('https://s3.amazonaws.com/fantasysports.mx/custom-assets/newsletter.jpg');
}

.footer .main-footer{
    background-image: url('https://s3.amazonaws.com/fantasysports.mx/custom-assets/direccion.jpg');
}