{% extends '::Admin/base.html.twig' %}

{% set pageTitle = 'Boleto' %}
{% set pageDescription = 'Boleto para iOS' %}

{% block body %}
    <div class="row-fluid">
        <div class="span12 widget">
            <div class="widget-header">
                <span class="title"><i class="icon-tag"></i> Agregalo a tu Apple Wallet</span>
            </div>
            <div class="widget-content form-container" style="text-align: center;">
                <img src="{{ qrcode_data_uri(qrUrl) }}" />
            </div>
        </div>
    </div>
{% endblock %}