<footer class="footer">
    <div class="main-footer">
        <div class="my-store">
            <h3 class="name">Villano Chelero</h3>
            <p class="address">Circuito Empresarial #6, Parques de la Herradura, 52786 México</p>
        </div>
        <div class="open-time">
            <h3 class="title">Horario</h3>
            <p>Lunes a Viernes : 11:00am - 10:00pm</p>
            <p>Sábado y Domingo : 11:00am - 1:00am</p>
        </div>
    </div>
    <div class="bottom">
        <div class="social-link">
            <ul class="social-list">
                <li><a target="_blank" href="//facebook.com/ElVillanoChelero/" title="facebook"><span class="fa fa-facebook"></span></a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>&copy;2016 Design by <a target="_blank" href="//alotheme.com">Alotheme.com</a>. Powered by <a target="_blank" href="//katanastudios.com"><span>Katana Studios</span></a></p>
        </div>
    </div>
</footer>