<footer class="footer">
    <div class="main-footer">
        <div class="my-store">
            <h3 class="name">Cavada store</h3>
            <p class="address">No. 1504, South Thamtons highway, California City, United Stated.</p>
        </div>
        <div class="open-time">
            <h3 class="title">Opening hour</h3>
            <p>Monday to Friday : 8:00am - 9:00pm</p>
            <p>Saturday and Sunday : 8:00am - 13:00pm</p>
        </div>
    </div>
    <div class="bottom">
        <div class="social-link">
            <ul class="social-list">
                <li><a href="#" title="facebook"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#" title="twitter"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#" title="google-plus"><span class="fa fa-google-plus"></span></a></li>
                <li><a href="#" title="instagram"><span class="fa fa-instagram"></span></a></li>
                <li><a href="#" title="rss"><span class="fa fa-rss"></span></a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>&copy;2015 Design by <a target="_blank" href="//alotheme.com">Alotheme.com</a>. Powered by <a target="_blank" href="//katanastudios.com"><span>Katana Studios</span></a></p>
        </div>
    </div>
</footer>