<div class="newsletter">
    <h3 class="title">Suscríbete a nuestro boletín</h3>
    <div class="content">
        <p class="sub-info">Suscríbete a nuestro boletín para recibir las últimas novedades, eventos y promociones del Villano Chelero.</p>
        <div class="subcribe-box">
            <div class="input" id="mail-box">
                <input type="text" placeholder="Email"/>
                <button class="btn-newletter" type="button"><span class="btn-label">Subcríbete</span></button>
            </div>
        </div>
    </div>
</div>