<div class="newsletter">
    <h3 class="title">Suscríbete a nuestro boletín</h3>
    <div class="content">
        <p class="sub-info">Suscríbete a nuestro boletín para recibir las últimas novedades, eventos y promociones del Villano Chelero.</p>
        <div class="subcribe-box">
            <div class="input" id="mail-box">
                <form action="//katanastudios.us12.list-manage.com/subscribe/post?u=8c827a107f8faeca0547698c6&amp;id=b279385685" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <input type="email" name="EMAIL" placeholder="Email"/>
                    <br /><br />
                    <input type="text" name="FNAME" placeholder="Nombre"/>
                    <br /><br />
                    <input type="text" name="LNAME" placeholder="Apellido"/>
                    <br /><br />
                    <input type="submit" class="btn-newletter" type="button" style="width:30px;" value="Suscribirme" />
                    <input type="text" name="b_8c827a107f8faeca0547698c6_b279385685" tabindex="-1" value="" style="display:none;">
                </form>
            </div>
        </div>
    </div>
</div>