<div class="block block-banner-home clearfix">
    <div class="content">
        <div class="banner-left-gutter banner-arrow">
            <div class="banner-top banner1 border-arrow-left">
                <div class="banner-inner">
                    <a href="#" class="overlay">&nbsp;</a>
                    <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/banner/banner1.jpg" alt="" />
                    <div class="text-banner banner-position">
                        <div class="banner-texthome">
                            <h2>New Trending</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-center-gutter banner-arrow">
            <div class="banner-top banner1-2 border-arrow-center">
                <div class="banner-inner">
                    <a href="#" class="overlay">&nbsp;</a>
                    <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/banner/banner2.jpg" alt="" />
                    <div class="text-banner banner-position">
                        <div class="banner-texthome">
                            <h2>Cavada Sale</h2>
                            <span class="sale">off 40%!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-right-gutter banner-arrow">
            <div class="banner-top banner1-3 border-arrow-right">
                <div class="banner-inner">
                    <a href="#" class="overlay">&nbsp;</a>
                    <img class="img-responsive" src="https://s3.amazonaws.com/fantasysports.mx/assets/data/watches/banner/banner3.jpg" alt="" />
                    <div class="text-banner banner-position">
                        <div class="banner-texthome">
                            <h2>Accessories</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>